## directories

## OS-X Finder spoo
*.DS_Store

## IDEA files and dirs
.idea
olfs.iml
out

## Build dir
build

# Is there a file called ']' somewhere in this project? jhrg 3/11/15
]

##
.classpath
.project

## Emacs backup files
*~

## aggregation servlet
src/opendap/aggregation/AggregationServletTest.java.broken


# Autoconf spew
Makefile
Makefile.in
atlocal
atconfig
aclocal.m4
conf
config.log
config.status
configure
autom4te.cache


# Random temp files
foo
foo.*
/.externalToolBuilders/
/.settings/
