## directories

## OS-X Finder spoo
*.DS_Store

## IDEA files and dirs
.idea
/*.iml
/out

## Build dir
build
release

## Scratch dir
scratch


##
.classpath
.project

## Emacs backup files
*~



# Autoconf spew
Makefile
Makefile.in
atlocal
atconfig
/conf
aclocal.m4
hyrax_tests/conf
config.log
config.status
configure
autom4te.cache


# Random temp files
foo
foo.*

/.externalToolBuilders/
/.settings/
/bin/
/conf/
/.sonar/
/.scannerwork/
/webapps
/logs

# travis sec key (never gonna check it in)
travis/woo_deploy_rsa
/.gradle/
