
# Initial Travic-CI control file. 6.11.15 jhrg
# Added sonar scan 3.12.19 jhrg 

dist: focal

# Use the docker container-based build systems
# sudo: false # deprecated. jhrg 1/19/24

language: java

services:
  - docker

# safe list
branches:
  only:
    - master
    - /^(.*-test-deploy)$/

notifications:
  email:
    - ndp@opendap.org
    - jgallagher@opendap.org

addons:
  # ssh_known_hosts: www.opendap.org
  apt:
    packages:
      - ant
      - gnupg
#      - junit

env:
  global:
    # SONAR_LOGIN, made using "travis encrypt --org -r OPENDAP/olfs SONAR_LOGIN=335df..."
    - secure: "GW672d33rdWG40v8ve25p909qnejhqWGzoX7+IEflv9hMZ+8vDWArtFaxuILhu/QeJlLJgMCrNyWdhgpSuyEJS8/EQlOUXWZfZaSPBVriayd7OKLY5D35PKODFPXbZpJ1GOheMz3roQkg+IjQzgey/zOGu4KQB9FjtcqllFvy38="
    # AWS_ACCESS_KEY_ID for the user 'travis-olfs'
    - secure: "N7FWlKcHNC4VRaNZFz/8WQlwJXjr7t4QLklJPiUY2xBw8n4lpYUuMjvDlwX7YupIKNGw8ama8GauNZhJ2h0qv08VeMF4VLOc5yUDt9BSEEnomiQZWa8N0paaSknlZP8Qq7YH2WVrlASIR+/Owdig1mqIv9GPW+ZkwdRTdRI9FZM="
    # AWS_SECRET_ACCESS_KEY
    - secure: "c70Fjj9nsL085GJlSToG6hxfuKI2uPEI4bXVggtJ7jfO6PdA1UFDq0FiqUwm14Nzi81YEjXmlF2PznieZAlzi7wh6Xa2H8xxwdx5jJCnp8wqMkNpFMk3SkdJHMCciHqMlxI1toa9JgJ/+PVPgynfBn2b0a/Ivrl0TBIkKoWoFes="
    # GIT_UID for travis-ci-opendap
    - secure: "jnuhhkxj0UlQLZSObVEi5xi0dAHObLy6S6f4hhCLKsI0nDgdL8Xj212ZubI4mlRSOgCmfbBNSSz20WgH11D7fuvPQQVyN6MMbh9OrE6JT1NEnA+Rzl+1tjWYTTBCkw1fQjchCg6fR+5Poyq4zfXOaG3H8DBZfrSGFTTdC2BdcWs="
    # GIT_PSWD for travis-ci-opendap
    - secure: "KYXSNaFsAVD5ubOsPNvDhd2rmzuyGIUh0p8s1VPEezxjTDPcA4T3FXnKVClFTUcJFFY8TJ9uqowbMyQ1D4TB1h+IiAI5FIOE48qEs2N89c4hV677vfPZiXBZKy7gnCDnqvYi6qesXSqH1GIYHJex60ouzWYGYxxwJbWEbKmpuhU="
    # WOO_UID for travis
    - secure: "jXqnDaiGjCUUAc4r865NkgbXCPfqRxrfWP+lKtAG7Lc/U6sTQBIJww1bsvfizFOdiEAgAzk4OAgE4z6djf7WbhHzyQKxGIieyLWUXoKhzAKjRYwidmKp6gBWOZSvcxURcYF2SpRAuKASpv/9lvZ3bNOlHu9LYQJ7r49AmCXJ98o="
    # SNYK_TOKEN
    - secure: "A+Ll8E9FlU0B4qAYb9GTmuCFgY0RstSXiJqTuXcEmej/ppalCvCXN4t+Ss3fyy4zF3NbNh54kVhnZOL3/bDe8VihvL48MbftCfdq4kmE3UdYqdTjs6vqGl0g1UkMqdGq/uvxPhBM0ggMM1EO9aN03OtCnEehcnKtwqKVdOGzQg4="

# before_install:
#  - echo "#######################################################"
#  - echo "Install JDK-11"
#  - curl https://raw.githubusercontent.com/sormuras/bach/releases/11/install-jdk.sh > install-jdk.sh
#  - chmod +x ./install-jdk.sh
#  - export JAVA_HOME=$HOME/openjdk11
#  - ./install-jdk.sh -F 11 --target $JAVA_HOME
#  - java -version
#  - echo "#######################################################"
before_install:
  - gem install bundler

install:
  - nvm install 12.13.0
  - npm install -g snyk
  - npm install -g snyk-gradle-plugin

stages:
  - name: update-tracking-branch

# caching for gradle
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

jobs:
  include:

    - stage: update-tracking-branch
      name: "Update Tracking Branch(es)"
      script:
        - export STAGE=update-tracking-branch
        - ./travis/update_tracking_branch.sh  "master" "tomcat-11"


# The "deploy" section copies the snapshot build product to our S3 bucket
deploy:
  - provider: s3
    edge: true
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: opendap.travis.build
    skip_cleanup: true
    local_dir: $TRAVIS_BUILD_DIR/package
    on:
      all_branches: true
      condition: $STAGE =~ ^snappah$
