<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/error.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>tests.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>3</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>


    </appender>


    <logger name="opendap">
        <level value="ERROR"/>
        <appender-ref ref="ErrorLog"/>
    </logger>

    <logger name="opendap.semantics">
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.openrdf">
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="com.ontotext">
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.xml">
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </logger>


    <root level="error">
        <appender-ref ref="ErrorLog"/>
    </root>

</configuration>
