<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
  ~ /////////////////////////////////////////////////////////////////////////////
  ~ // This file is part of the "Hyrax Data Server" project.
  ~ //
  ~ //
  ~ // Copyright (c) 2013 OPeNDAP, Inc.
  ~ // Author: Nathan David Potter  <ndp@opendap.org>
  ~ //
  ~ // This library is free software; you can redistribute it and/or
  ~ // modify it under the terms of the GNU Lesser General Public
  ~ // License as published by the Free Software Foundation; either
  ~ // version 2.1 of the License, or (at your option) any later version.
  ~ //
  ~ // This library is distributed in the hope that it will be useful,
  ~ // but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ // Lesser General Public License for more details.
  ~ //
  ~ // You should have received a copy of the GNU Lesser General Public
  ~ // License along with this library; if not, write to the Free Software
  ~ // Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301
  ~ //
  ~ // You can contact OPeNDAP, Inc. at PO Box 112, Saunderstown, RI. 02874-0112.
  ~ /////////////////////////////////////////////////////////////////////////////
  -->

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"


        >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">



    <display-name>Web Coverage Service</display-name>
    <description>OPeNDAP WCS Service</description>

   
    <servlet>
        <servlet-name>wcs</servlet-name>

        <servlet-class>opendap.wcs.v2_0.http.Servlet</servlet-class>
        <init-param>
            <param-name>WCSConfigFileName</param-name>
            <param-value>wcs_service.xml</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup> 

    </servlet>

    <servlet>
        <servlet-name>docs_servlet</servlet-name>
        <servlet-class>opendap.coreServlet.DocServlet </servlet-class>
        <!--servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class -->
        <load-on-startup>1</load-on-startup>
    </servlet>



    <servlet-mapping>
        <servlet-name>wcs</servlet-name>
        <url-pattern>*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>docs_servlet</servlet-name>
        <url-pattern>/docs/*</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>




    <!-- Default Error Page Definitions -->
    <error-page>
        <error-code>400</error-code>
        <location>/error/error400.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/error/error501.jsp</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/error/error502.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/error500.jsp</location>
    </error-page>


</web-app>




