<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"


        >

<web-app>



    <display-name>Web Coverage Service</display-name>
    <description>OPeNDAP WCS Service</description>

   
    <servlet>
        <servlet-name>wcs</servlet-name>

        <servlet-class>opendap.wcs.v1_1_2.http.Servlet</servlet-class>
        
        <init-param>
            <param-name>SemanticPreload</param-name>
            <param-value>http://xml.opendap.org/semantics/Dap_To_Wcs-1.1.owl</param-value>
        </init-param>

        <init-param>
            <param-name>EnableUpdateUrl</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup> 

    </servlet>


    <servlet-mapping>
        <servlet-name>wcs</servlet-name>
        <url-pattern>/wcs/*</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>




    <!-- Default Error Page Definitions -->
    <error-page>
        <error-code>400</error-code>
        <location>/docs/error400.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/docs/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/docs/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/docs/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/docs/error501.jsp</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/docs/error502.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/docs/error500.jsp</location>
    </error-page>


</web-app>




