<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="ALL"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} [%10r][%8X{ID}] %-5p - %c - %m%n"/>
            <!--param name="ConversionPattern" value="%d{ISO8601} [%10r - %10X{ID}] %-5p - %c - %m%n"/-->
        </layout>
    </appender>

    <appender name="devNull" class="org.apache.log4j.varia.NullAppender">
        <param name="Threshold" value="ALL"/>
    </appender>

    <!--
      Example:
      2005-04-18T11:33:43 -0600 [    359843 -        395] DEBUG - thredds.servlet.CatGenServlet - doGet():
    -->
    <appender name="ErrorLog" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${logdir}/error.log"/>
        <param name="MaxFileSize" value="20MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} [%10r][%8X{ID}] %-5p - %c - %m%n"/>
            <!--param name="ConversionPattern" value="%d{ISO8601} [%10r - %10X{ID}] %-5p - %c - %m%n"/-->
        </layout>
    </appender>

    <!--
      Generate an access log similar to Apache server access_log.
      139.140.167.4 - - [01/Mar/2005:00:00:00 -0700] "GET /cgi-bin/dods/DODS-3.2.1/nph-dods/dods/model/2005030100_gfs_211.nc.dods?u[22:22][0:28][0:64][0:92] HTTP/1.1" 200 -
    -->
    <appender name="HyraxAccessLog"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${logdir}/HyraxAccess.log"/>
        <param name="DatePattern" value=".yyyy-MM"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%X{host} %X{ident} %X{userid} [%d{dd/MMM/yyyy:HH:mm:ss}] [%8X{ID}] %X{request} %m%n"/>
        </layout>
    </appender>



    <!-- THREDDS library logging -->

    <logger name="thredds">
        <level value="Error"/>
        <appender-ref ref="ErrorLog"/>
    </logger>



    <!-- OPeNDAP Hyrax Logging -->

    <logger name="opendap">
        <level value="Error"/>
        <appender-ref ref="ErrorLog"/>
    </logger>



    <!-- Access/Performance Logging -->
    <logger name="HyraxAccess">
        <level value="ALL"/>
        <appender-ref ref="HyraxAccessLog"/>
    </logger>

    <logger name="DocServletAccess">
        <level value="ALL"/>
        <appender-ref ref="HyraxAccessLog"/>
    </logger>



    <!--root>
     <level value="ALL"/>
     <appender-ref ref="Stdout"/>
   </root -->

</log4j:configuration>
