<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"


        >

<web-app>



    <display-name>Hyrax</display-name>
    <description>OPeNDAP Hyrax Server</description>

    <context-param>
        <param-name>ContextPath</param-name>
        <param-value>opendap</param-value>
    </context-param>


    <servlet>
        <servlet-name>hyrax</servlet-name>

        <servlet-class>opendap.coreServlet.DispatchServlet</servlet-class>

        <init-param>
            <param-name>DebugOn</param-name>
            <param-value> </param-value>
        </init-param>

        <init-param>
            <param-name>OLFSConfigFileName</param-name>
            <param-value>olfs.xml</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>


    <servlet>
        <servlet-name>docs</servlet-name>
        <servlet-class>opendap.coreServlet.DocServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>hyrax</servlet-name>
        <url-pattern>/hyrax</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>hyrax</servlet-name>
        <url-pattern>/hyrax/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>hyrax</servlet-name>
        <url-pattern>*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>docs</servlet-name>
        <url-pattern>/docs</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>docs</servlet-name>
        <url-pattern>/docs/*</url-pattern>
    </servlet-mapping>




    <!-- Default Error Page Definitions -->
    <error-page>
        <error-code>400</error-code>
        <location>/docs/error400.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/docs/error403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/docs/error404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/docs/error500.html</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/docs/error501.html</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/docs/error502.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/docs/error500.html</location>
    </error-page>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>



</web-app>




