<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="logdir" value="metacat"/>
    
    <!-- property name="FORMAT" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" / -->
    <property name="ErrorFormat" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} [thread:%t] [%r][%X{ID}] [%X{SOURCE}]   %-5p - %c - %m%n" />
    <property name="DebugFormat" value="[%thread] [%file:%line] %msg%n"/>
    <property name="InfoFormat" value="[%file:%line] %msg%n" />
    
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FORMAT}</Pattern>
        </layout>
    </appender>

    <appender name="InfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/info.log</File>
        <Append>False</Append>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>tests.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>3</MaxIndex>
        </rollingPolicy>
        
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${InfoFormat}</Pattern>
        </layout>
    </appender>

    <appender name="DebugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/debug.log</File>
        <Append>False</Append>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>tests.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>3</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${DebugFormat}</Pattern>
        </layout>
    </appender>

    <appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/error.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>tests.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>3</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${ErrorFormat}</Pattern>
        </layout>
    </appender>
    
    <logger name="opendap" level="ERROR">
        <appender-ref ref="ErrorLog"/>
    </logger>
    
    <logger name="opendap.metacat" level="ERROR">
        <appender-ref ref="ErrorLog"/>
    </logger>

    <logger name="opendap.metacat.DateString" level="ERROR">
        <appender-ref ref="ErrorLog"/>
    </logger>
    
    <logger name="opendap.metacat.URLClassifier" level="ERROR">
        <appender-ref ref="ErrorLog"/>
    </logger>
    
    <logger name="opendap.metacat.ClassifyServerBuildEML" level="DEBUG">
        <appender-ref ref="InfoLog"/>
    </logger>
    
    <logger name="opendap.metacat.ResponseCachePostgres" level="ERROR">
        <appender-ref ref="ErrorLog"/>
    </logger>
    
    <logger name="opendap.metacat.URLGroup" level="ERROR">
        <appender-ref ref="ErrorLog"/>
    </logger>
    
    <logger name="opendap.metacat.ResponseCachePostgres" level="ERROR">
        <appender-ref ref="ErrorLog"/>
    </logger>
    
    <logger name="opendap.metacat.ThreddsCatalogUtil" level="ERROR">
        <appender-ref ref="ErrorLog"/>
    </logger>
    
</configuration>
