div.content {
	border: #527CC1 solid 1px;
	clear: left;
    padding: 10px;
}

ol {
	height: 2em;
	list-style: none;
	margin: 0;
	padding: 0;
}

ol a {
	background: #527CC1 100% 0;
	color: #78a3e7;
	float: left;
	line-height: 2em;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
    border: #527CC1 solid 1px;
}

ol li.current {
	background-color: #ffffff ;
}

ol li.current a {
	background-color: #78a3e7 ;
	color: #000;
	font-weight: bold;
    border: #527CC1 solid 1px;

}

ol li {
	background: #527CC1 #ffffff ;
	float: left;
	margin: 0 1px 0 0;
	padding-left: 10px;
}


