<?xml version="1.0" encoding="UTF-8" ?>
<configuration>





    <!-- property name="FORMAT" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" / -->
    <property name="FORMAT" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} [thread:%t] [%r][%X{ID}] [%X{SOURCE}]   %-5p - %c - %m%n" />



    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FORMAT}</Pattern>
        </layout>
    </appender>

    <appender name="HAI_DEBUG_LOGGER" class="ch.qos.logback.core.read.CyclicBufferAppender">
        <MaxSize>512</MaxSize>
    </appender>


    <appender name="DebugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/debug.log</File>
        <Append>False</Append>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>tests.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>3</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FORMAT}</Pattern>
        </layout>
    </appender>


    <appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/error.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>tests.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>3</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FORMAT}</Pattern>
        </layout>
    </appender>

    <appender name="HyraxAccessLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/HyraxAccess.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 30 days worth of history -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%X{host} %X{ident} %X{userid} [%d{dd/MMM/yyyy:HH:mm:ss}] [%8X{ID}] [%X{SOURCE}]  %X{request} %m%n</Pattern>
        </layout>
    </appender>


    <appender name="BESCommands" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/BESCommands.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 30 days worth of history -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{dd/MMM/yyyy:HH:mm:ss}] [request %X{ID}]      %m</Pattern>
        </layout>
    </appender>







    <logger name="opendap" level="error">
        <appender-ref ref="ErrorLog"/>
    </logger>
    
    <logger name="org.jdom" level="all">
        <appender-ref ref="stdout"/>
    </logger>
    
    
    
    <logger name="opendap.coreServlet" level="error">
        <appender-ref ref="stdout"/>
    </logger>
    
    <logger name="opendap.hai" level="all">
        <appender-ref ref="stdout"/>
    </logger>
    
    <logger name="opendap.dap.Request"         level="all"/>
    

    
    <logger name="opendap.coreServlet.ReqInfo"            level="info"/>
    <logger name="opendap.coreServlet.OPeNDAPException"   level="all"/>
    <logger name="opendap.coreServlet.DispatchServlet"    level="all"/>
    <logger name="opendap.coreServlet.Scrub"              level="all"/>
    <logger name="opendap.coreServlet.RequestCache"       level="all"/>
    <logger name="opendap.coreServlet.BotBlocker"         level="all"/>
    
    
    
    
    <logger name="opendap.bes" level="error">
        <appender-ref ref="stdout"/>
    </logger>


    <logger name="opendap.bes.BESManager"               level="all"/>
    <logger name="opendap.bes.BesXmlAPI"                level="all"/>
    <logger name="opendap.bes.BES"                      level="all"/>
    <logger name="opendap.bes.BESCrawlableDataset"      level="all"/>
    <logger name="opendap.bes.DapDispatchHandler"       level="all"/>
    <logger name="opendap.bes.DirectoryDispatchHandler" level="all"/>
    <logger name="opendap.bes.BESThreddsDispatchHandler"   level="all"/>
    
    
    <logger name="opendap.gateway" level="all">
                 <appender-ref ref="stdout"/>
    </logger>
    
    <logger name="opendap.webstart" level="all">
                 <appender-ref ref="stdout"/>
    </logger>
    

    <logger name="opendap.threddsHandler" level="all">
             <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.apache.jasper" level="all">
             <appender-ref ref="stdout"/>
    </logger>



<!--

    
    <logger name="opendap.WcsCatalog" level="all"/>
    
    <logger name="opendap.wcs" level="all">
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="opendap.wcs.gatewayClient" level="all"/>
    <logger name="opendap.wcs.v1_1_2" level="all"/>

    
    
    
    

    <logger name="opendap.semantics" level="debug">
        <appender-ref ref="stdout"/>
        <appender-ref ref="DebugLog"/>
    </logger>

    <logger name="org.openrdf" level="info">
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.xml" level="info">
        <appender-ref ref="stdout"/>
    </logger>



    <logger name="opendap.semantics">
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.openrdf">
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.xml">
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </logger>
-->

    <root level="error">
        <appender-ref ref="ErrorLog"/>
        <appender-ref ref="HAI_DEBUG_LOGGER"/>
    </root>

</configuration>
