<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /////////////////////////////////////////////////////////////////////////////
  ~ // This file is part of the "Hyrax Data Server" project.
  ~ //
  ~ //
  ~ // Copyright (c) 2013 OPeNDAP, Inc.
  ~ // Author: Nathan David Potter  <ndp@opendap.org>
  ~ //
  ~ // This library is free software; you can redistribute it and/or
  ~ // modify it under the terms of the GNU Lesser General Public
  ~ // License as published by the Free Software Foundation; either
  ~ // version 2.1 of the License, or (at your option) any later version.
  ~ //
  ~ // This library is distributed in the hope that it will be useful,
  ~ // but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ // Lesser General Public License for more details.
  ~ //
  ~ // You should have received a copy of the GNU Lesser General Public
  ~ // License along with this library; if not, write to the Free Software
  ~ // Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301
  ~ //
  ~ // You can contact OPeNDAP, Inc. at PO Box 112, Saunderstown, RI. 02874-0112.
  ~ /////////////////////////////////////////////////////////////////////////////
  -->

<configuration>


    <property name="FORMAT" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} [%X{host}] [%X{UserAgent}] [thread:%t] [%r][%X{ID}] [%X{SOURCE}] [%X{resourceID}] [%X{query}]  %-5p - %c - %m%n" />


    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FORMAT}</pattern>
        </encoder>
    </appender>

    <!--
       This appender, HAI_DEBUG_LOGGER, is used by the Hyrax Admin interface
       and it must defined and added to the root logger in order to catch all the stuff,
       and in order for the Java software to be able to locate it at run time.
   -->
    <appender name="HAI_DEBUG_LOGGER" class="ch.qos.logback.core.read.CyclicBufferAppender">
        <MaxSize>512</MaxSize>
    </appender>

    <appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/HyraxErrors.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${logdir}/HyraxErrors.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>3</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FORMAT}</pattern>
        </encoder>
    </appender>

    <appender name="HyraxAccessLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/HyraxAccess.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logdir}/HyraxAccess.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 30 days worth of history -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%X{host}] [%X{UserAgent}] [%X{ident}] [%X{userid}] [%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z}] [%8X{duration}] [%X{http_status}] [%8X{ID}] [%X{SOURCE}] [%X{resourceID}] [%X{query}] %n</pattern>
        </encoder>
    </appender>


    <appender name="AnonymousAccessLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/AnonymousAccess.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logdir}/HyraxAnonymousAccess.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 30 days worth of history -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%X{UserAgent}] [%X{ident}] [%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z}] [%8X{duration}] [%X{http_status}] [%8X{ID}] [%X{SOURCE}] [%X{resourceID}] [%X{query}] %n</pattern>
        </encoder>
    </appender>


    <appender name="BESCommandLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/BESCommands.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logdir}/HyraxBESCommands.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 30 days worth of history -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z}] [request %X{ID}] [%X{resourceID}] [%X{query}] %m</pattern>
        </encoder>
    </appender>






    <logger name="opendap" level="error">
        <appender-ref ref="ErrorLog"/>
        <appender-ref ref="stdout"/>
    </logger>
    
    <logger name="org.jdom" level="all" />

    <logger name="opendap.coreServlet" level="error" />

    <logger name="opendap.hai" level="all" />

    <logger name="opendap.aggregation" level="all" />

    <logger name="opendap.dap.Request"         level="all"/>
    
    <logger name="opendap.coreServlet.ReqInfo"            level="info"/>
    <logger name="opendap.coreServlet.OPeNDAPException"   level="all"/>
    <logger name="opendap.coreServlet.DispatchServlet"    level="all"/>
    <logger name="opendap.coreServlet.Scrub"              level="all"/>
    <logger name="opendap.coreServlet.RequestCache"       level="all"/>
    <logger name="opendap.coreServlet.BotBlocker"         level="all"/>
    <logger name="opendap.coreServlet.PersistentConfigurationHandler"  level="all"/>

    <logger name="opendap.bes" level="error" />

    <logger name="opendap.bes.BESManager"                  level="error" />
    <logger name="opendap.bes.dap2Responders.BesApi"       level="error" />
    <logger name="opendap.bes.BES"                         level="all"   />
    <logger name="opendap.bes.BesDapDispatcher"            level="all"   />
    <logger name="opendap.bes.DirectoryDispatchHandler"    level="all"   />
    <logger name="opendap.bes.BESThreddsDispatchHandler"   level="all"   />

    <logger name="opendap.bes.dap4Responders.FileAccess"   level="all"/>

    <logger name="opendap.gateway" level="all" />
    <logger name="opendap.webstart" level="all" />
    <logger name="opendap.threddsHandler" level="all" />

    <logger name="org.apache.jasper" level="all">
             <appender-ref ref="stdout"/>
    </logger>


    <logger name="JavaServerPages" level="all">
             <appender-ref ref="stdout"/>
    </logger>

    <logger name="opendap.auth" level="all" />
    
    <logger name="opendap.aggregation" level="all" />

    <logger name="opendap.w10n" level="all" />





    <!--
    <logger name="opendap.ppt.NewPPTClient" level="all" />


    <logger name="opendap.wcs.v2_0.http" level="all">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="opendap.WcsCatalog" level="all"/>

    <logger name="opendap.wcs" level="all">
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="opendap.wcs.gatewayClient" level="all"/>
    <logger name="opendap.wcs.v1_1_2" level="all"/>
    <logger name="opendap.WcsCatalog" level="all"/>

    <logger name="opendap.wcs" level="all">
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="opendap.wcs.gatewayClient" level="all"/>
    <logger name="opendap.wcs.v1_1_2" level="all"/>

    <logger name="opendap.semantics" level="debug">
        <appender-ref ref="stdout"/>
        <appender-ref ref="DebugLog"/>
    </logger>

    <logger name="org.openrdf" level="info">
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.xml" level="info">
        <appender-ref ref="stdout"/>
    </logger>



    <logger name="opendap.semantics">
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.openrdf">
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.xml">
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </logger>
    -->



    <logger name="HyraxAccess" level="all">
        <appender-ref ref="HyraxAccessLog" />
    </logger>

    <logger name="BesCommandLog" level="info">
        <appender-ref ref="BESCommandLogAppender"/>
        <appender-ref ref="stdout"/>
    </logger>



    <root level="error">
        <!--
            This appender, HAI_DEBUG_LOGGER, is used by the Hyrax Admin interface
            and it must appear here in the root level in order to catch all the stuff,
            adn in order for the Java software to be able to locate it at run time.
        -->
        <appender-ref ref="HAI_DEBUG_LOGGER"/>
    </root>

</configuration>
