<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="logdir" value="metacat"/>
    
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/error.log</File>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>error.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>3</MaxIndex>
        </rollingPolicy>
        
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="InfoLog" class="ch.qos.logback.core.FileAppender">
        <File>${logdir}/info.log</File>
        <Append>False</Append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="DebugLog" class="ch.qos.logback.core.FileAppender">
        <File>${logdir}/debug.log</File>
        <Append>False</Append>        
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="opendap" level="ERROR">
        <appender-ref ref="ErrorLog"/>
    </logger>
    <!--
    <logger name="opendap.metacat.URLClassifier" level="INFO">
        <appender-ref ref="InfoLog"/>
    </logger>

    <logger name="opendap.metacat.URLGroups" level="INFO">
        <appender-ref ref="InfoLog"/>
    </logger>
    -->
</configuration>
